* {
  box-sizing: border-box;
}

body {
  font-family: Times, Times New Roman, serif;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  background-color: rgb(53,66,76);
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgkontener, img {
  height: 25vh;
  width: 60vh;
}

.tile {
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  color: rgb(115,190,176);
  display: flex;
  height: 40px;
  justify-content: center;
  width: 500px;
}
